<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.samharrelson.ecological-intentionality-research</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__REPO_PATH__/scripts/publish.sh</string>
    <string>__VAULT_PATH__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO_PATH__</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>20</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__REPO_PATH__/.sync.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO_PATH__/.sync-error.log</string>
</dict>
</plist>
